# Project settings.
projectProperties.json filter=kony_projectProperties
projectprop.xml filter=kony_projectprop

# Filter all forms and their widgets, as well as widgets in templates and custom widgets or components.
forms/**/*.sm/*.json filter=kony_views
popups/**/*.sm/*.json filter=kony_views
templates/**/*.sm/*.json filter=kony_views
userwidgets/**/*.sm/*.json filter=kony_views

# If you choose to version HeadlessBuild.properties file, then any passwords from it.
HeadlessBuild.properties filter=kony_headless_props

# Clean javascript files from all lines containing nothing but white spaces and tabs.
#modules/**/*.js filter=rm_whiteline

# Prettify and sort the file where Visualizer stores the Fabric services config.
mobileFabricServiceConfigMap.json filter=pretty_json
objectServicesConfigMap.json filter=pretty_json

# Filter out the url and filepath properties in Native API mappings.
nativeapi.json filter=kony_native_api_json
